<a href="https://colab.research.google.com/github/manjulamishra/DS-Code-Pandas_Useful_Functions/blob/master/Simple_and_Complex_Filtering_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Filtering 

https://www.ritchieng.com/pandas-multi-criteria-filtering/

After data cleaning, this is an import step to take a peak into data.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# let's get a dataset to do some filtering on
url = 'http://bit.ly/imdbratings'
movies = pd.read_csv(url)

In [ ]:
movies.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

In [ ]:
movies.shape

(979, 6)

In [ ]:
movies.isna().sum()

star_rating       0
title             0
content_rating    3
genre             0
duration          0
actors_list       0
dtype: int64

## Filtering Rows of pandas DF by Column values

In [ ]:
# create a Series/list of True/False using a conditional 
# create a filter 
is_long = movies.duration >= 200
is_long.head()

0    False
1    False
2     True
3    False
4    False
Name: duration, dtype: bool

In [ ]:
# use that filter to filter the df based on that filter
# the result is only the movies which are longer than 200 minutes
movies[is_long]

     star_rating  ...                                        actors_list
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
7            8.9  ...  [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17           8.7  ...  [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78           8.4  ...  [u'Robert De Niro', u'James Woods', u'Elizabet...
85           8.4  ...  [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142          8.3  ...  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157          8.2  ...  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204          8.1  ...  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445          7.9  ...  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476          7.8  ...  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630          7.7  ...  [u'Denzel Washington', u'Angela Bassett', u'De...
767          7.6  ...  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...

[12 rows x 6 columns]

### A better way to filter the same rows as above

In [ ]:
# an even better way
movies[movies['duration'] >= 200]

     star_rating  ...                                        actors_list
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
7            8.9  ...  [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17           8.7  ...  [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78           8.4  ...  [u'Robert De Niro', u'James Woods', u'Elizabet...
85           8.4  ...  [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142          8.3  ...  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157          8.2  ...  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204          8.1  ...  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445          7.9  ...  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476          7.8  ...  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630          7.7  ...  [u'Denzel Washington', u'Angela Bassett', u'De...
767          7.6  ...  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...

[12 rows x 6 columns]

### We want to filter df based on duration and only the genre instead of all the columns

In [ ]:
# it outputs the index number and the genre for the movies which either or longer than 300 minutes
# movies[movies['duration']>= 200].genre
movies[movies.duration >= 200]['genre']

2          Crime
7      Adventure
17         Drama
78         Crime
85     Adventure
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
630    Biography
767       Action
Name: genre, dtype: object

### best practice is to use .loc to achieve the same result as above

In [ ]:
movies.loc[movies['duration']>= 200, ['genre']]

         genre
2        Crime
7    Adventure
17       Drama
78       Crime
85   Adventure
142  Adventure
157      Drama
204  Adventure
445  Adventure
476      Drama
630  Biography
767     Action

In [ ]:
type(movies['duration']>= 200)

pandas.core.series.Series

In [ ]:
movies.loc[:, 'genre']

0          Crime
1          Crime
2          Crime
3         Action
4          Crime
         ...
974       Comedy
975    Adventure
976       Action
977       Horror
978        Crime
Name: genre, Length: 979, dtype: object

**Logic Behind the Above Code**

How the above logic works is by creating a boolean series based on the conditional. 

movies[movies['duration] >= 200] 

creates a conditional inside which is stored as True/Flase series in a temp variable. It;s same as creating a True/False series explicitily and then passing it inside movies like 

is_a_long_move = movies['duration'] >= 200

movies[is_a_long_movie]

Now this will spit out a resulting dataframe where the conditons are True with all column.

### Manually Creating a list og booleans

In [ ]:
# create a list
booleans = []

# loop
for minutes in movies['duration']:
  if minutes >= 200:
    booleans.append(True)
  else:
    booleans.append(False)

In [ ]:
len(booleans)

979

In [ ]:
booleans[0:5]

[False, False, True, False, False]

**Convert the booleans list into pd.Series**

To make the list usable in our dataframe, we have to convert it into pandas Series object.

In [ ]:
long_movies = pd.Series(booleans)

**pandas operations work on Series e.g. head()**

Since we convereted python list into pandas Series, we can not access the elements using head() method which doesn't work on Python list. Additionally, we can also use the same indexing as on python list on a Series.

In [ ]:
# both will produce the same result 
# long_movies[0:5]
long_movies.head()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [ ]:
movies[long_movies]

     star_rating  ...                                        actors_list
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
7            8.9  ...  [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17           8.7  ...  [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78           8.4  ...  [u'Robert De Niro', u'James Woods', u'Elizabet...
85           8.4  ...  [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142          8.3  ...  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157          8.2  ...  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204          8.1  ...  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445          7.9  ...  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476          7.8  ...  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630          7.7  ...  [u'Denzel Washington', u'Angela Bassett', u'De...
767          7.6  ...  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...

[12 rows x 6 columns]

## Multiple Criteria Filerting

When the conditionals are wrapped in paranthesis, this is an ordered operation that the brackets are executed first then 'and' 

**and (&)**

In [ ]:
movies.loc[(movies['duration'] >= 200) & (movies['genre']=='Drama')]

     star_rating  ...                                        actors_list
17           8.7  ...  [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
157          8.2  ...  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
476          7.8  ...  [u'Kenneth Branagh', u'Julie Christie', u'Dere...

[3 rows x 6 columns]

**or**

The movies whihc are not Drama

In [ ]:
movies[movies['duration'] >= 200 | (movies['genre']=='Drama')]

     star_rating  ...                                        actors_list
0            9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1            9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3            9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4            8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....
..           ...  ...                                                ...
974          7.4  ...  [u'Dustin Hoffman', u'Jessica Lange', u'Teri G...
975          7.4  ...  [u'Michael J. Fox', u'Christopher Lloyd', u'Ma...
976          7.4  ...  [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
977          7.4  ...  [u'JoBeth Williams', u"Heather O'Rourke", u'Cr...
978          7.4  ...  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...

[979 rows x 6 columns]

**Creating a boolean based on two Condtionals**

It creates True false list of the same length as the DF. True if those two conditions are met, else False.

In [ ]:
# (movie['duration] >= 200) & (movie['genre] == 'Drama') # just the oppostive conditional
(movies['duration'] >= 200) | (movies['genre'] == 'Drama')

0      False
1      False
2       True
3      False
4      False
       ...
974    False
975    False
976    False
977    False
978    False
Length: 979, dtype: bool

**Using OR**

Either the movie is more than 200 minutes long or the genre is Drama or  Crime or Action.

In [ ]:
movies[(movies['duration'] >= 200) | (movies['genre']=='Drama') | (movies['genre']=='Crime') | (movies['genre']=='Action')]

     star_rating  ...                                        actors_list
0            9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1            9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3            9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4            8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....
..           ...  ...                                                ...
970          7.4  ...  [u'Michael Douglas', u'Tobey Maguire', u'Franc...
972          7.4  ...  [u'Ryan Gosling', u'Michelle Williams', u'John...
973          7.4  ...  [u'Tobey Maguire', u'Charlize Theron', u'Micha...
976          7.4  ...  [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
978          7.4  ...  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...

[544 rows x 6 columns]

### Fast filtering method

In [ ]:
filter_list = ['Drama', 'Crime', 'Action']

movies[movies['genre'].isin(filter_list)]

     star_rating  ...                                        actors_list
0            9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1            9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3            9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4            8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....
..           ...  ...                                                ...
970          7.4  ...  [u'Michael Douglas', u'Tobey Maguire', u'Franc...
972          7.4  ...  [u'Ryan Gosling', u'Michelle Williams', u'John...
973          7.4  ...  [u'Tobey Maguire', u'Charlize Theron', u'Micha...
976          7.4  ...  [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
978          7.4  ...  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...

[538 rows x 6 columns]

**More on Complex Queries**

temp2 = df[~df["Def"] & (df["days since"] > 7) & (df["bin"] == 3)]

Or

cond1 = df["bin"] == 3    
cond2 = df["days since"] > 7
cond3 = ~df["Def"]

temp2 = df[cond1 & cond2 & cond3]