<a href="https://colab.research.google.com/github/manjulamishra/DS-Code-Pandas_Useful_Functions/blob/master/Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = 'http://bit.ly/imdbratings'
movies = pd.read_csv(url)

In [ ]:
movies.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

# Sort Using sort_values()

In [ ]:
movies['title'].sort_values()

542     (500) Days of Summer
5               12 Angry Men
201         12 Years a Slave
698                127 Hours
110    2001: A Space Odyssey
               ...
955         Zero Dark Thirty
677                   Zodiac
615               Zombieland
526                     Zulu
864                    [Rec]
Name: title, Length: 979, dtype: object

In [ ]:
movies.duration.sort_values()

389     64
338     66
258     67
293     68
88      68
      ...
445    220
142    224
78     229
157    238
476    242
Name: duration, Length: 979, dtype: int64

In [ ]:
# a pandas Series is returned
type(movies.duration.sort_values())

pandas.core.series.Series

## Sort Column

sort in ascending/descending

In [ ]:
#  ascending True goes A-Z 
#  ascending Flase goes Z-A
movies['title'].sort_values(ascending=True)

542     (500) Days of Summer
5               12 Angry Men
201         12 Years a Slave
698                127 Hours
110    2001: A Space Odyssey
               ...
955         Zero Dark Thirty
677                   Zodiac
615               Zombieland
526                     Zulu
864                    [Rec]
Name: title, Length: 979, dtype: object

## Sort a DataFrame using a particular column

In [ ]:
movies.sort_values('title')

     star_rating  ...                                        actors_list
542          7.8  ...  [u'Zooey Deschanel', u'Joseph Gordon-Levitt', ...
5            8.9  ...  [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
201          8.1  ...  [u'Chiwetel Ejiofor', u'Michael Kenneth Willia...
698          7.6  ...  [u'James Franco', u'Amber Tamblyn', u'Kate Mara']
110          8.3  ...  [u'Keir Dullea', u'Gary Lockwood', u'William S...
..           ...  ...                                                ...
955          7.4  ...  [u'Jessica Chastain', u'Joel Edgerton', u'Chri...
677          7.7  ...  [u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M...
615          7.7  ...  [u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha...
526          7.8  ...  [u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac...
864          7.5  ...  [u'Manuela Velasco', u'Ferran Terraza', u'Jorg...

[979 rows x 6 columns]

In [ ]:
movies.sort_values('genre', ascending=False)

     star_rating  ...                                        actors_list
107          8.3  ...  [u'Clint Eastwood', u'Lee Van Cleef', u'Gian M...
421          7.9  ...  [u'Clint Eastwood', u'Sondra Locke', u'Chief D...
704          7.6  ...  [u'Clint Eastwood', u'Verna Bloom', u'Marianna...
6            8.9  ...  [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
26           8.6  ...  [u'Henry Fonda', u'Charles Bronson', u'Claudia...
..           ...  ...                                                ...
118          8.3  ...  [u'Harrison Ford', u'Sean Connery', u'Alison D...
586          7.7  ...  [u'William Shatner', u'Leonard Nimoy', u'DeFor...
581          7.8  ...  [u'Denzel Washington', u'Christopher Walken', ...
113          8.3  ...  [u'Christian Bale', u'Michael Caine', u'Ken Wa...
420          7.9  ...  [u'Sean Connery', u'Michael Caine', u'Christop...

[979 rows x 6 columns]

## Sorting a DataFrame on multiple columns

There are a couple of ways to use multiple columns to sort a DF

In [ ]:
movies.sort_values(['genre', 'title'], ascending=False)

     star_rating  ...                                        actors_list
119          8.3  ...  [u'Clint Eastwood', u'Gene Hackman', u'Morgan ...
421          7.9  ...  [u'Clint Eastwood', u'Sondra Locke', u'Chief D...
6            8.9  ...  [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
263          8.1  ...   [u'John Wayne', u'Dean Martin', u'Ricky Nelson']
26           8.6  ...  [u'Henry Fonda', u'Charles Bronson', u'Claudia...
..           ...  ...                                                ...
433          7.9  ...  [u'Sam Worthington', u'Zoe Saldana', u'Sigourn...
529          7.8  ...  [u'Gerardo Taracena', u'Raoul Trujillo', u'Dal...
75           8.4  ...  [u'Sigourney Weaver', u'Michael Biehn', u'Carr...
276          8.1  ...  [u'Clint Eastwood', u'Gian Maria Volont\xe9', ...
570          7.8  ...  [u'Gerard Butler', u'Lena Headey', u'David Wen...

[979 rows x 6 columns]

**Another way**

In [ ]:
columns = ['content_rating', 'duration']
movies.sort_values(columns)

     star_rating  ...                                        actors_list
713          7.6  ...  [u'Phil Harris', u'Sebastian Cabot', u'Louis P...
513          7.8  ...  [u'Kevin McCarthy', u'Dana Wynter', u'Larry Ga...
272          8.1  ...  [u'Sterling Hayden', u'Coleen Gray', u'Vince E...
703          7.6  ...  [u'Bela Lugosi', u'Helen Chandler', u'David Ma...
612          7.7  ...  [u'John Lennon', u'Paul McCartney', u'George H...
..           ...  ...                                                ...
387          8.0  ...  [u'Dustin Hoffman', u'Jon Voight', u'Sylvia Mi...
86           8.4  ...  [u'Malcolm McDowell', u'Patrick Magee', u'Mich...
187          8.2  ...  [u'Paul Newman', u'Robert Redford', u'Katharin...
936          7.4  ...    [u'John Wayne', u'Kim Darby', u'Glen Campbell']
649          7.7  ...  [u'Richard Burton', u'Clint Eastwood', u'Mary ...

[979 rows x 6 columns]